body {
  background-color: #E7F0DC ;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
}

.btn-click {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 1.3rem;
  height: 50px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-click:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 50px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.btn-click:hover:after {
  transform: translate(0, 0);
}

.btn-click:active {
  background-color: #ffdeda;
  outline: 0;
}

.btn-click:hover {
  outline: 0;
}
