body {
    background-color: #dad3ca;
    padding: 2% 5% 40% 5%;
}

#grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 7%;
    grid-row-gap: 10%;
    font-family: "Poppins", sans-serif;
}

.posts {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-top: 0;
    margin-bottom: 4%;
    font-weight: bold;
}

.carousel-inner {
    background-color: #f2f1eb;
    border-radius: 4px;
    padding: 5%;
    text-decoration: none;
    z-index: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    right: 0;
    border-radius: 0 4px 0 32px;
}

.carousel-inner:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    /* background: #ff595a; */
    background: #afc8ad;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}

.carousel-inner:hover:before {
    transform: scale(35);
}

.carousel-inner:hover {
    cursor: pointer;
}

.center {
    text-align: center;
    margin: 0 0 2% 0;
}

.justify {
    text-align: justify;
    font-size: 15px;
}

@media only screen and (max-width: 768px) {
    body {
        padding: 7%;
    }

    #grid {
        grid-template-columns: auto;
        grid-row-gap: 2%;
        margin-top: 5%;
    }

    .carousel-inner {
        background-color: #afc8ad;
    }
}
