body {
    background-color: #000;
}

.home-page {
    margin-top: 25vh;
}

.quiz-logo {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.start-btn {
    padding: 3% 10%;
    font-size: 2rem;
    border-radius: 5%;
    border: none;
    cursor: pointer;
    font-family: "Jersey 15", sans-serif;
    font-weight: 700;
    font-style: normal;
    display: block;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .home-page {
        position: relative;
        height: 90vh;
        text-align: center;
        margin-top: 0;
    }

    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .start-btn {
        padding: 2% 8%;
        font-size: 2.5rem;
        border: #000 solid 5px;
    }

    .start-btn:hover {
        border: #0077b5 solid 5px;
    }
}
