body {
    padding: 0;
    margin: 0;
}

#home-page {
    background-image: linear-gradient(
        to top,
        #020202,
        #090909,
        #0f0f0f,
        #141414,
        #181818
    );
    display: block;
    height: 100vh;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quiz-logo {
    width: 100%;
    display: block;
}

.start-btn {
    padding: 3% 10%;
    font-size: 2rem;
    border-radius: 5%;
    border: none;
    cursor: pointer;
    font-family: "Jersey 15", sans-serif;
    font-weight: 700;
    font-style: normal;
    display: block;
    letter-spacing: 3px;
    margin: 0 auto;
}

#difficulty-level-page {
    display: none;
    background: radial-gradient(
        circle at 3.1% 8.2%,
        rgb(248, 250, 107) 0%,
        rgb(238, 148, 148) 98.2%
    );
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-style: normal;
    color: #000;
    text-align: center;
    height: 100vh;
}

#difficulty-level-page h1 {
    font-size: 2.5rem;
}

.difficulty-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 4%;
    align-items: center;
    justify-content: center;
}

.difficulty-btn {
    margin: 0;
    padding: 0;
    background: none;
    cursor: pointer;
    border: none;
}

.difficulty-levels {
    width: 65%;
}

#category-page {
    background: hsla(0, 100%, 67%, 1);

    background: linear-gradient(
        90deg,
        hsla(0, 100%, 67%, 1) 0%,
        hsla(0, 100%, 89%, 1) 100%
    );

    background: -moz-linear-gradient(
        90deg,
        hsla(0, 100%, 67%, 1) 0%,
        hsla(0, 100%, 89%, 1) 100%
    );

    background: -webkit-linear-gradient(
        90deg,
        hsla(0, 100%, 67%, 1) 0%,
        hsla(0, 100%, 89%, 1) 100%
    );

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF5858", endColorstr="#FFC8C8", GradientType=1 );
    display: none;
    font-weight: 700;
    font-family: "Roboto Slab", serif;
    font-style: normal;
    color: #000;
    text-align: center;
    height: 100vh;
}

#category-page h1 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 10%;
}

.category-submit-btn {
    padding: 2% 6%;
    font-size: 1.2rem;
    border-radius: 5%;
    border: none;
    cursor: pointer;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-style: normal;
    display: block;
    margin: 10% auto;
}

.category-desktop {
    display: none;
}

/*-------------------------------TABLET----------------------------------*/
@media only screen and (min-width: 481px) {
    .start-btn {
        padding: 2% 8%;
        font-size: 2.5rem;
        border: #000 solid 5px;
    }

    .start-btn:hover {
        border: #fff solid 5px;
        background-color: #000;
        color: #fff;
    }

    #difficulty-level-page h1 {
        font-size: 2.5rem;
    }

    .difficulty-container {
        text-align: center;
        grid-template-columns: auto auto auto;
        grid-gap: 7%;
        justify-content: center;
    }

    .difficulty-btn {
        transition: transform 0.2s;
    }

    .difficulty-btn:hover {
        border: none;
        transform: scale(1.5);
    }

    .difficulty-levels {
        width: 100%;
    }

    #category-page {
        margin-top: 0;
    }

    #category-page h1 {
        font-size: 2.5rem;
        padding: 5% 0 5% 0;
        margin-bottom: 0;
    }

    .category-phone {
        display: none;
    }

    .category-desktop {
        display: grid;
        grid-template-columns: auto auto auto;
        text-align: center;
        justify-content: center;
        grid-gap: 10%;
    }

    .category-btn {
        border: none;
        background: none;
        padding: 0;
        transition: transform 0.2s;
        cursor: pointer;
    }

    .category-btn:hover {
        transform: scale(1.2);
        border: none;
    }

    .category-btn p {
        font-size: 1.2rem;
        color: #fff;
    }
}

/*--------------------------------DESKTOP---------------------------------*/
@media only screen and (min-width: 1024px) {
    #difficulty-level-page h1 {
        font-size: 3rem;
    }

    #category-page h1 {
        font-size: 3rem;
    }

    .category-desktop {
        grid-template-columns: auto auto auto auto auto;
    }
}
