body {
    padding: 0;
    margin: 0;
}

#home-page {
    background-color: #e3e1d9;
    display: block;
    height: 100vh;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quiz-logo {
    width: 100%;
    display: block;
}

.start-btn {
    padding: 3% 10%;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-style: normal;
    border: #1a1a1a solid 3px;
    display: block;
    font-family: "Roboto Slab", serif;
    margin: 10% auto;
}

#difficulty-level-page {
    display: none;
    background-color: #eadfb4;
    --easy-color: #01d06f;
    --medium-color: #eca644;
    --hard-color: #ec4b0b;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-style: normal;
    color: #000;
    margin: auto;
    height: 100vh;
}

#difficulty-level-page h1 {
    margin: 0 0 2%;
    font-size: 2.5rem;
    text-shadow: 1px 1px 1px #00000044;
    text-align: center;
}

.difficulty-btn {
    cursor: pointer;
    padding: 1em;
    background: #f0f0f0aa;
    border-width: 3px 0;
    border-style: solid;
    margin: 1.5em auto;
}

.easy {
    border-image: linear-gradient(90deg, var(--easy-color), #dadada00) 30;
}

.easy:hover {
    background: linear-gradient(90deg, var(--easy-color), #dadada00);
}

.medium {
    border-image: linear-gradient(90deg, var(--medium-color), #dadada00) 30;
}

.medium:hover {
    background: linear-gradient(90deg, var(--medium-color), #dadada00);
}

.hard {
    border-image: linear-gradient(90deg, var(--hard-color), #dadada00) 30;
}

.hard:hover {
    background: linear-gradient(90deg, var(--hard-color), #dadada00);
}

.bullet {
    filter: brightness(1.15);
}

.easy .bullet {
    color: var(--easy-color);
}

.medium .bullet {
    color: var(--medium-color);
}

.hard .bullet {
    color: var(--hard-color);
}

#category-page {
    display: none;
    font-weight: 700;
    font-family: "Roboto Slab", serif;
    font-style: normal;
    color: #000;
    text-align: center;
    background-color: #e1f0da;
    min-height: 100vh;
    padding: 5% 0%;
}

#category-page h1 {
    font-size: 2.5rem;
    text-shadow: 1px 1px 1px #00000044;
    margin-top: 0;
    margin-bottom: 10%;
}

.category-desktop {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    justify-content: center;
    grid-gap: 2% 10%;
    padding-bottom: 55%;
}

.category-card {
    width: 100px;
    height: 120px;
    display: grid;
    grid-template-rows: 70% 30%;
    cursor: pointer;
    border: 2px solid transparent;
}

.icon {
    padding: 20% 0;
}

.category-card p {
    border-radius: 0 0 5% 5%;
    border: 1px solid #f3f3f3;
    font-size: 1rem;
    background-color: #f3f3f3;
    margin: 0;
    padding: 5%;
    justify-content: center;
}

.category-card-icons {
    border-radius: 5% 5% 0 0;
    border: 1px solid;
}

.gk {
    background-color: #627a92;
    color: #4a5b6d;
    border-color: #627a92;
}

.books {
    background-color: #53bbb4;
    color: #43958f;
    border-color: #53bbb4;
}

.film {
    background-color: #f5a572;
    color: #bd7658;
    border-color: #f5a572;
}

.music {
    background-color: #f39893;
    color: #bf7874;
    border-color: #f39893;
}

.nature {
    background-color: #abd194;
    color: #8eac7a;
    border-color: #abd194;
}

.computers {
    background-color: #b88cbf;
    color: #91699e;
    border-color: #b88cbf;
}

.maths {
    background-color: #f1c85e;
    color: #c9a74d;
    border-color: #f1c85e;
}

.mythology {
    background-color: #84a1c1;
    color: #667e96;
    border-color: #84a1c1;
}

.sports {
    background-color: #21898c;
    color: #17666a;
    border-color: #21898c;
}

.politics {
    background-color: #3079ac;
    color: #235a80;
    border-color: #3079ac;
}

.celebrities {
    background-color: #7c87a5;
    color: #575f73;
    border-color: #7c87a5;
}

.animals {
    background-color: #b99191;
    color: #976a6a;
    border-color: #b99191;
}

.vehicles {
    background-color: #7ac2da;
    color: #6099ac;
    border-color: #7ac2da;
}

.anime {
    background-color: #a2a2a6;
    color: #7e7e81;
    border-color: #a2a2a6;
}

.cartoon {
    background-color: #d3c9a2;
    color: #a49c7e;
    border-color: #d3c9a2;
}

#questions {
    display: none;
    background-color: #000;
    height: 100vh;
    color: wheat;
}

/*-------------------------------TABLET----------------------------------*/
@media only screen and (min-width: 481px) {
    #home-page {
        min-height: 100vh;
    }

    .start-btn {
        padding: 1% 6%;
        margin: 0 auto;
        font-size: 1.5rem;
    }

    .start-btn:hover {
        color: #fff;
        background-color: #1a1a1a;
    }

    #difficulty-level-page {
        min-height: 100vh;
    }

    #difficulty-level-page h1 {
        font-size: 2.5rem;
    }

    #category-page {
        margin-top: 0;
        height: fit-content;
    }

    #category-page h1 {
        font-size: 2.5rem;
        padding: 5% 0 5% 0;
        margin-bottom: 0;
    }

    .category-card {
        width: 130px;
        height: 150px;
    }

    .category-card:hover {
        transform: scale(1.1);
        border: 2px solid black;
        border-radius: 5%;
    }

    .category-desktop {
        grid-template-columns: auto auto auto;
        grid-gap: 7% 10%;
        padding-bottom: 35%;
    }

    .category-card p {
        font-size: 1.2rem;
    }
}

/*--------------------------------DESKTOP---------------------------------*/
@media only screen and (min-width: 1024px) {
    #difficulty-level-page h1 {
        font-size: 3.5rem;
    }

    .difficulty-btn {
        font-size: 1.5rem;
    }

    #category-page {
        min-height: fit-content;
    }

    #category-page h1 {
        font-size: 3rem;
        padding: 0 0 5% 0;
    }

    .category-desktop {
        grid-template-columns: auto auto auto auto auto;
        grid-row-gap: 15%;
        padding-bottom: 14%;
    }
}
